---
layout: default
title: 首&nbsp;&nbsp;页
permalink: /
---
<div class="cangyun-content-layout-wrapper layout-item-0">
  <div class="cangyun-content-layout">
    <div class="cangyun-content-layout-row">
    {% include index/slideshow.html %}
    </div>
  </div>
</div>

<div class="cangyun-content-layout-br layout-item-1">
</div>

<div class="cangyun-content-layout-br">
</div>
<h1>热卖产品，店长推荐</h1>
<div class="cangyun-content-layout-wrapper layout-item-0">
  <div class="cangyun-content-layout layout-item-3">
    <div class="cangyun-content-layout-row" id="bestseller">
      {% include index/bestseller.html %}
    </div>
  </div>
</div>

<div class="cangyun-content-layout-br layout-item-1">
</div>
<h1>历史沉淀 岁月重生 时光凝积</h1>
<div class="cangyun-content-layout-wrapper layout-item-5">
  <div class="cangyun-content-layout">
    <div class="cangyun-content-layout-row">
      {% include index/indexleft.html %}
      {% include index/indexright.html %}
    </div>
  </div>
</div>