<header>
  <nav>
    <a href="{{ site.baseurl }}/">首页</a>
    {% for page in site.pages  limit: 4 %}
      {% if page.title %}
        <a id="{{page.id}}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>

<script type="text/javascript">
  $(document).ready(function(){
    var url=document.URL;
    if(/about/.test(url.toLowerCase()))
    {
      $("#about").addClass("current");
    }
    else if(/forrent/.test(url.toLowerCase()))
    {
      $("#forrent").addClass("current");
    }
    else if(/wanted/.test(url.toLowerCase()))
    {
      $("#wanted").addClass("current");
    }
    else if(/tags/.test(url.toLowerCase()))
    {
      $("#tags").addClass("current");
    }
  });
</script>
