<div class="cangyun-layout-cell layout-item-6" style="width: 75%" id="indexleft">
  <div style="width:250px;height:200px;float:left;margin-right:20px">
    <img src="http://img02.taobaocdn.com/bao/uploaded/i2/TB1ies4GXXXXXaPXpXXXXXXXXXX_!!0-item_pic.jpg" style="width:100%">
  </div>
  
  <h2>穿梭时空一起品味过往的味道</h2>
  <p>老货，必然会有时间的痕迹，请亲们不要用审视现代机器制品的眼光来挑剔老货；喜欢老货自然知道老货的价值！本店出售的宝贝均是老货手工，卖一件少一件；没有实体店，淘宝店属于个人业余爱好兼职；所有的照片均是实物拍摄，由于拍摄技术有限，在美观与清晰之间会偏重于宝贝的细节展现；</p>
  <blockquote style="margin:0;">
    <span style="font-weight:bold;">发货</span><br>
    快递默认申通，工作日拍下后第二天发货<br>
（如有着急的亲们请在拍之前咨询）；周六日拍下后当天发货；
  </blockquote>
  <p><a class="cangyun-button" href="#">详情</a></p>
</div>