<div class="cangyun-layout-cell layout-item-6" style="width: 25%" id="indexright">
  <h1>我在淘宝</h1>
    <ul style="margin:0;padding:0">
      <li>
        <a href="http://rate.taobao.com/user-rate-33bb4eb8eea2983a319f7845c2a7dae7.htm?spm=2013.1.1000126.1.HB9Mxk" target="_blank">
          <img src="//gtms01.alicdn.com/tps/i1/TB1NYpMFVXXXXXsXFXXFHLvIVXX-198-45.png" style="width:100%">
        </a>
      </li>
      <li>
        信誉：
        <a href="http://rate.taobao.com/user-rate-33bb4eb8eea2983a319f7845c2a7dae7.htm?spm=2013.1.1000126.3.HB9Mxk" target="_blank">
          <img src="http://gtms02.alicdn.com/tps/i3/TB1KxNsFVXXXXcKXpXXxPfUFXXX-16-16.gif">
          <img src="http://gtms02.alicdn.com/tps/i3/TB1KxNsFVXXXXcKXpXXxPfUFXXX-16-16.gif">
          <img src="http://gtms02.alicdn.com/tps/i3/TB1KxNsFVXXXXcKXpXXxPfUFXXX-16-16.gif">
        </a>
      </li>
      <li>掌柜：
        <a href="http://rate.taobao.com/user-rate-33bb4eb8eea2983a319f7845c2a7dae7.htm?spm=2013.1.1000126.1.HB9Mxk" target="_blank">
        tianye6838133</a>
      </li>
      <li>
        <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=tianye6838133&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=tianye6838133&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
      </li>
    </ul>
</div>