<!--Flicker Required libraries-->

<script src="/js/flickerslider/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="/js/flickerslider/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
<!--Include flickerplate-->
<link href="/css/flickerplate.css"  type="text/css" rel="stylesheet">
<script src="/js/flickerslider/flickerplate.min.js" type="text/javascript"></script>
<script>
  $(document).ready(function(){
    
    $('.flicker-example').flicker();
  });
</script>
<style type="text/css">
  .cangyun-postcontent ul>li:before, .cangyun-post ul>li:before, .cangyun-textblock ul>li:before,.cangyun-postcontent li, .cangyun-post li, .cangyun-textblock li{
    content:none; /*去掉li前面的小三角*/
    margin: 0;
  }
</style>

<div class="flicker-example" data-block-text="false">
  <ul>
    <li data-background="http://img04.taobaocdn.com/bao/uploaded/i4/17706022869926824/T16eCzXzXbXXXXXXXX_!!0-item_pic.jpg">
      <div class="flick-title">Flickerplate Is Working</div>
      <div class="flick-sub-text">Heaven forbid this package you downloaded is broken. That wouldn't be embarrassing at all.</div>
    </li>
    <li data-background="http://img01.taobaocdn.com/bao/uploaded/i1/T1QFhlFEhiXXXXXXXX_!!0-item_pic.jpg">
      <div class="flick-title">Editable via Javascript or CSS</div>
      <div class="flick-sub-text">Take a look at the extensive documentation to see how you can change the settings in multiple ways.</div>
    </li>
    <li data-background="http://img03.taobaocdn.com/bao/uploaded/i3/17706031628175650/T1fnwiFfJbXXXXXXXX_!!0-item_pic.jpg">
      <div class="flick-title">Touch Enabled Through the jQuery Finger Library</div>
      <div class="flick-sub-text">jQuery Finger is a great touch library that has been included as part of the Flickerplate package.</div>
    </li>
  </ul>
</div>