---
layout: page
---
<div class="sectioncolumn">
  <div class="sectioninner" style="padding:30px">
    <h1>{{page.title}}</h1>
    <h3>{{page.tag}}</h3>
    <div style="margin-bottom: 20px;height: 345px">
      <div style="float:left;width:50%">
        <h3 style="text-align:left;">房屋信息</h3>
        位置/商圈：{{page.location}}<br>
        交通线路：{{page.traffic}}<br>
        类型：{{page.type}}<br>
        居室：{{page.room}}<br>
        面积：{{page.area}}<br>
        价格：{{page.price}}<br>
        付款方式：{{page.payment}}<br>
        联系人（群昵称）：{{page.contact}}
      </div>
      <div style="float:left;width:50%;">
        <h3 style="text-align: left;">地图</h3>
        <div style="height: 320px"">
          <iframe src="{{site.baseurl}}{{page.baidumap}}" style="width: 100%;height: 100%" scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <h2 style="clear: both">详细描述</h2>
      {{ content }}
    
  </div>
  <div class="more" style="margin: auto 50px 20px auto">
    <a href="#" onclick="history.go(-1)">返回</a>
  </div>
</div>
